<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itelephant.h5wap.dao.ArticleMapper">
	<resultMap id="BaseResultMap" type="com.itelephant.h5wap.entity.Article">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="post_author" property="postAuthor" jdbcType="BIGINT" />
		<result column="post_keywords" property="postKeywords" jdbcType="VARCHAR" />
		<result column="post_title" property="postTitle" jdbcType="VARCHAR" />
		<result column="post_content" property="postContent" jdbcType="VARCHAR" />
		<result column="post_source" property="postSource" jdbcType="VARCHAR" />
		<result column="post_hits" property="postHits" jdbcType="BIGINT" />
		<result column="post_like" property="postLike" jdbcType="BIGINT" />
	</resultMap>
	
	<select id="whichOneByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select a.* from sp_posts a where a.id = #{id,jdbcType=BIGINT}
	</select>
	
	<update id="updateByPrimaryKey" parameterType="com.itelephant.h5wap.entity.Article">
		update sp_posts
		<set>
			<if test="postHits != null">
				post_hits = #{postHits,jdbcType=BIGINT},
			</if>
			<if test="postLike != null">
				post_like = #{postLike,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>